.arrow-down-btn {
  width: 28px;
  height: 16px;

  &:hover {
    .arrow-down-btn__icon {
      opacity: 1;
    }    
  }
}

.arrow-down-btn__icon {
  width: 100%;
  height: 100%;
  fill: #fff;
  opacity: .7;
  transition: .3s;
}