.footer {
  height: 1px;
  margin-top: -1px;
  position: relative;
}

.footer__wrapper {
  background: rgba($text-color, .9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.footer__col {
  width: 50%;
  align-items: center;
  display: flex;

  &--left {
    .footer__text {
      max-width: 80%;
    }
  }
  &--right {
    justify-content: flex-end;
  }
}

.footer__row {
  border-bottom: 1px solid rgba(#fff, .1);
  padding: 15px 0px;

  &:last-child {
    border-bottom: none;
  }
}

.footer__text  {
  color: rgba(#fff, .5);
}