.hero {
  height: 100vh;
  min-height: 650px;
  overflow: hidden;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero__socials {
  position: absolute;
  top: 29px;
  left: 30px;
}

.hero__menu {
  position: absolute;
  top: 30px;
  right: 30px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.hero__title {
  width: 95%;
  height: 500px;
  fill: rgba(#fff, .06);
}

.hero__user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__arrow {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
}