.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 40px;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  @include roboto('medium');

  &:hover {
    text-decoration: underline;
  }
}