.skill {
  position: relative;
  width: 110px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.skill__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke-width: 20px;
  fill: transparent;
  &--above {
    stroke: rgba($green, .9);
  }
  &--under {
    stroke: rgba(#dfdcd5, .9);
  }
}

.skill__title  {
  font-size: 11px;
  color: $green;
  padding: 25px;
  text-align: center;
}